<!DOCTYPE html>
html(lang="en")
  include pug_components/head.pug
  
  body
  include pug_components/header.pug
  main
    section.topscreen
      .topscreen__title-wrapper
        h2.topscreen__title Referral Program
        .topscreen__img-top
          img(src="img/exchangeCopy.svg", alt="Exchange")
      .topscreen__content-wrapper
        .topscreen__text-wrapper
          p.topscreen__text Each trading pair is a dedicated microservice written in go that is capable to run more than a million transactions per a second. We use in-memory storage to store all operations and our own data storage system to handle fast trading operations.
          a.topscreen__link(href="#form-section") Take answer below
        .topscreen__img-wrapper
          img(src="img/mainpicture.png", alt="Main picture")
    section.form-section#form-section
      .container
        .form__wrapper
          form(action="" name="referral")
            .form-block__wrapper
              h3.form__title What is the desired percentage of the reward for the inviting user?
              label.radio__btn
                input#percentage-1(type="radio", name="percentage" value="10%")
                .radio__text 10%
              label.radio__btn
                input#percentage-2(type="radio", name="percentage" value="20%")
                .radio__text 20%
              label.radio__btn
                input#percentage-3(type="radio", name="percentage" value="30%")
                .radio__text 30%
              label.radio__btn.percentage__custom
                input#percentage-4(type="radio", name="percentage", for="user__val-1")
                .radio__text
                  label.user__val
                    input#user__val-1(type="text", placeholder="Your variant", disabled name="user__val-1")
            .form-block__wrapper
              h3.form__title How many levels of the referral program are needed?
              label.radio__btn
                input#level-1(type="radio", name="level" value="1")
                .radio__text 1
              label.radio__btn
                input#level-2(type="radio", name="level" value="2")
                .radio__text 2
              label.radio__btn
                input#level-3(type="radio", name="level" value="3")
                .radio__text 3
              label.radio__btn.level__custom
                input#level-4(type="radio", name="level", for="user__val-2")
                .radio__text
                  label.user__val
                    input#user__val-2(type="text", placeholder="Your variant", disabled name="user__val-2")
            .form-block__wrapper.email__wrapper
              span.form__description Take your email and we give you beta version our exchange wallet

              label.email__field
                input#email(type="email", placeholder="Your Email", name="email")
                button(type="submit") Done

  include pug_components/footer.pug
  include pug_components/scripts.pug
