footer.footer
.footer__top-section
  span.footer__top-title START YOUR TRADE NOW
.footer__main-section
  .footer__btn
    a.footer__btn-link(href="#") Create Your Account
  .footer__menu-wrapper
    .footer__menu-item
      h3.footer-item__title Info
      ul.footer-item__list
        li
          a(href="#") User support
        li
          a(href="#") Knowledge base
        li
          a(href="#") FAQ
        li
          a(href="#") Fees and limits
        li
          a(href="#") Referral program
    .footer__menu-item
      h3.footer-item__title Trade Now
      ul.footer-item__list
        li
          a(href="#") Secure Wallet
        li
          a(href="#") Exchange
        li
          a(href="#") Margin Trade
    .footer__menu-item
      h3.footer-item__title About
      ul.footer-item__list
        li
          a(href="#") News
        li
          a(href="#") Blog
        li
          a(href="#") Our Features
        li
          a(href="#") Road map
        li
          a(href="#") Reviews
    .footer__menu-item
      h3.footer-item__title Documents
      ul.footer-item__list
        li
          a(href="#") User agreement
        li
          a(href="#") Privacy Policy
        li
          a(href="#") AML/KYC Policy
        li
          a(href="#") Token Purchase Agreement
        li
          a(href="#") Wrongdepo Policy
        li
          a(href="#") Media-Kit
    .footer__menu-item
      h3.footer-item__title
      ul.footer__social-list
        li
          a(href="https://facebook.com") \ea90
        li
          a(href="https://github.com") \eab0
        li
          a(href="https://twitter.com") \ea96
        li
          a(href="https://twitter.com") \ea96
        li
          a(href="https://twitter.com") \ea96
        li
          a(href="https://twitter.com") \ea96
        li
          a(href="https://twitter.com") \ea96
        li
          a(href="https://twitter.com") \ea96
        li
          a(href="https://twitter.com") \ea96
  .footer__copyright
    span © 2019 Exchange2.net