header.header
  .header__logo
    a.header__logo-link
      img(src="img/logo.png", alt="Ex2 logotype")
  .header__wrapper
    .header__reg-link
      a(href="#") Create Your Account
    .header__burger-menu.js--burger
      .burger__item
      .burger__item
      .burger__item
    nav.navbar.js--navbar
      ul.nav__list
        li.nav__list-item
          a(href="#") Secure Wallet
        li.nav__list-item
          a(href="#") Exchange
        li.nav__list-item
          a(href="#") Margin trading
      .navbar__btn
        span
        span
        span
    .header__right-menu
      a(href="#") Log in
      a(href="#") Sign up
    .header__lang-switch
        a.switch__link.switch__link--current(href="#") Eng
        a.switch__link(href="#") Ru


