html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html, body{
  height: 100%;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: $textcolor;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: $textcolor;
  &:focus{
    outline: $green 1px dotted;
  }
  &:visited{
    color: $textcolor;
  }
}

input, button{
  outline: none;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 0 0;
}